.Categories .btn-info{
    width: 270px;
    height: 50px;
    flex-shrink: 0;
    background-color: #ffffff;
    border: 1px solid silver;
}
.Categories .card{
    width: 270px;
    height: 260px;
}
.number{
    float: right;
    width: 25px;
    height: 18px;
    color: #666;
    text-align: justify;
    font-family: PT Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Categories{
    float: right;
    margin-top: -1650px;
    margin-right: 50px;
    background-color: #fefefe;
}
.Categories .btn-info:hover{
    background-color: #42f5f2;
    color: #ed1aea;
    transition: 1.5s all ease;
}